@page
@model nscccoursemap_tillyjay.Pages_AdvisingAssignments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Advising Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AdvisingAssignment.Id" />
            <div class="form-group">
                <label asp-for="AdvisingAssignment.InstructorId" class="control-label">Insturctors</label>
                <select asp-for="AdvisingAssignment.InstructorId" class="form-control" asp-items="ViewBag.InstructorId"></select>
                <span asp-validation-for="AdvisingAssignment.InstructorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdvisingAssignment.DiplomaYearSectionId" class="control-label">Diploma</label>
                <select asp-for="AdvisingAssignment.DiplomaYearSectionId" class="form-control" asp-items="ViewBag.DiplomaYearSectionId"></select>
                <span asp-validation-for="AdvisingAssignment.DiplomaYearSectionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
